.ArticleSummary h2 {
  font-weight: 600;

  margin-bottom: 0;
  margin-top: 0;
}

.ArticleSummary a {
  text-decoration: none;
}

.ArticleSummary:hover h2 {
  text-decoration: underline;
  /* font-size: 25px; */
}
