.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 2.625rem 1.3125rem;
}

.title {
  font-weight: 500;
  font-family: warnock-pro, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 0;
  text-rendering: optimizeLegibility;
}
.title > a {
  color: var(--primary-color-light);
  text-decoration: none;
}
